.jobWrapper {
  margin-top: 40px;
}

.jobBoard {
  display: flex;
  flex-wrap: wrap;
}

.job {
  border-radius: 25px;
  padding: 25px 32px;
  background-color: #fff;
  box-shadow: 0 7px 6px 1px #ccc;
  flex: 1 0 40%;
  margin-bottom: 30px;
  display: flex;
}

.job:nth-child(odd) {
  margin-right: 30px;
}

.job figure {
  background-color: #c4c4c4;
  border-radius: 16px;
  width: 150px;
  height: 150px;
  margin: 0;
  flex: 1 0 150px;
}

.jobContent {
  margin-left: 20px;
}

.job h2 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000000;
}

.job p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #7b7b7b;
}

.job footer {
  margin-top: 20px;
  text-align: right;
}

.job footer button {
  border: 2px solid #f07987;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #f07987;
  background-color: transparent;
  padding: 10px 17px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .job:nth-child(odd) {
    margin-right: 0;
  }

  .jobBoard {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .jobBoard {
    padding: 0 30px;
  }

  .job figure {
    display: block;
    margin: 0 auto 20px;
  }

  .job {
    flex-direction: column;
    text-align: center;
    flex: 1 1 100%;
  }

  .job footer {
    text-align: center;
  }

  .jobContent {
    margin-left: 0;
  }
}
